// $base : #F7F6F0;
// $darken : darken(#F7F6F0 , 30%);
// $back: darken(#F7F6F0, 40%);

$gray: #434a55;
$blue: #2655A7;
$orange: #F3A000;
$light-orange: #ffc962;
$green: #25841E;
$light-green: #25841E;

